div {
    display: block;
}

.landing {
    /* position: absolute; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 5px solid #666066;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #a1e7ec, #5ffbf1);
   
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    color:#DEEEEA;
    width:40%;
    height:fit-content;
    max-height:fit-content;
    
}

.right {
    /* background-color: #231E23; */
    color:#DEEEEA;
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.landing-img {
    /* margin: 0 auto; */
    object-fit: cover;
    height:70%;
    width:70%;
    border-radius: 50%;
    /* border: 5px solid #c5bbc5; */
}

.landing-title {
    font-size: 3rem;
}

h2 {
    color:#c75e8f;
    font-family: 'Zen Kaku Gothic Antique', sans-serif !important;
}

@media (max-width:800px) {
    .landing-title {
        font-size: 2rem;
    }

    .right > h2 {
        font-size: 100%;
    }
    .left, .right {
        width:100%;
    }
    .left {
        height:40%;
        justify-content: baseline;
        align-items: baseline;
    }
    .right{
        height:60%;
    }


    .landing-img {
        width:36%;
        height:20%;
    }

    .landing {
        height: 70vh;
    }

}

@media (max-width:400px) {

    .landing-title, .right > h2 {
        font-size: 100%;
    }

    .icon {
        height:30px;
        width:30px;
    }
   

}