@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&family=Raleway:ital,wght@0,100;0,500;0,700;0,800;0,900;1,100;1,500;1,600;1,900&family=Satisfy&family=Seaweed+Script&family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700&family=Zen+Kurenaido&display=swap');


.about-container {
    height: 500px;
    display:flex;
    flex-direction: row;
    margin: 5% auto;
}

.title {
    text-decoration: underline;
    font-size: 36px;
    width:40%;

}

.section-info {
    background-color: white;
}

.left-section {
    width:50%;
}

.profile {
    object-fit: contain;
    width:300px;
    height:300px;
    margin-top:20%;
    background-color:#231E23;
    border:5px solid #BF1363;
}

.about-me {
    /* border: 5px solid #59dbd7; */
    padding:20px 50px;
    
}

h2 {
    font-size: 2rem;
    width:fit-content;
    margin: 0 auto;
}

.about-me > h2 {
    background: linear-gradient(
180deg,transparent 60%,#e8ff8d 0);
    background-size: 50%;
}

.about-me > p {
    color:#312c2f;
    padding: 20px;
}

.about-info {
    font-size: 100%;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


@media (max-width:800px) {
    .about-container {
        display:block;
    }
    .profile {
        margin: 5% auto;
        width: 150px;
        height:150px;
    }

    .left-section {
        width: 100%;
    }

}